.parentdiv {
  width: 450px;
  background-color: #323a49;
  margin: 0 auto;
  /* margin-top: 7%; */
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: 120px;
  /* background-color: red; */
}

.header1 {
  text-align: center;
  color: #52FFA8;
}
.btn1 {
  /* text-align: center;
    align-content: center;
    margin: 0 auto; */
  /* position: relative;
  top: 85px;
  left: -200px; */
  width: 50px;
  cursor: pointer;
  /* clip-path: circle() */
  /* border-radius: 10px; */
}

.divider {
  width: 400px;
  position: relative;
  top: -30px;
  /* bottom: 2000%; */
  left: 25px;
}
.pdiv{
    /* padding: 5px; */
    /* background-color: green; */
    height: 190px;
}
.p{
font-family: Manrope;
font-size: 30px;
font-weight: 800;
line-height: 38px;
letter-spacing: -0.01em;
text-align: center;
color: #CEE3E9;
}
.bb{
  text-align: center;
  margin: 0% auto;
  /* background-color: blanchedalmond; */
  background-color: #52FFA8;
  /* clip-path: circle(); */
  /* border-radius: 30px; */
  width: 100px;
  clip-path: circle(24px);
}

@media (max-width: 530px) {
  .parentdiv{
    width: 400px;
  }
  .divider{
    left: 0px;
  }
  .p{
    font-size: 25px;
  }
  .bb{
    margin-top: 10px;
  }
}
@media (max-width: 467px) {
  .parentdiv{
    width: 350px;
  }
  .divider{
    left: 0px;
    width: 350px;
  }
}
@media (max-width: 425px) {
  .parentdiv{
    width: 300px;
  }
  .divider{
    left: 0px;
    width: 300px;
  }
}
@media (max-width: 375px) {
  .parentdiv{
    width: 250px;
  }
  .divider{
    left: 0px;
    width: 250px;
  }
  .p{
    font-size: 18px;
  }
}
@media (max-width: 340px) {
  .parentdiv{
    width: 250px;
  }
  .divider{
    left: 0px;
    width: 250px;
  }
  .p{
    font-size: 16px;
  }
}

@media (max-width: 310px) {
  .parentdiv{
    width: 200px;
  }
  .divider{
    left: 0px;
    width: 200px;
  }
  .p{
    font-size: 16px;
  }
}
@media (max-width: 257px) {
  .parentdiv{
    width: 150px;
  }
  .divider{
    left: 0px;
    width: 150px;
  }
  .p{
    font-size: 13px;
  }
}

